<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    
      <header>
        <!-- <h1>{{ site.title | default: site.github.repository_name }}</h1> -->
		<a href="/"><h1>{{ site.title | default: site.github.repository_name }}</h1></a>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
      </header>

      <footer>
        {% if site.github.is_project_page %}
          <p><a href="{{ site.github.owner_url }}">{{ site.author }}</a></p>
        {% endif %}
        <p></p>
      </footer>
    </div>
	  
</html>
